<!DOCTYPE html>
<html>
<head>
    <title>System Monitoring</title>
</head>
<body>
    <h1>Welcome to the System Monitoring App</h1>
    <form method="post">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="phone">Your Phone Number:</label>
        <input type="text" id="phone" name="phone" required><br>
        

        <input type="submit" value="Submit">
    </form>

    <h2>Network Statistics</h2>
<table border="1">
    <tr>
        <th>Interface</th>
        <th>Bytes Sent</th>
        <th>Bytes Received</th>
        <th>Packets Sent</th>
        <th>Packets Received</th>
    </tr>
    {% for interface, stats in network_stats.items() %}
    <tr>
        <td>{{ interface }}</td>
        <td>{{ stats.bytes_sent }}</td>
        <td>{{ stats.bytes_received }}</td>
        <td>{{ stats.packets_sent }}</td>
        <td>{{ stats.packets_received }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Save Password</h2>
    <form method="post" action="/save_password">
        <label for="name">Account name:</label>
        <input type="text" id="name" name="name" required><br>
        
        
        
        
        
        <label for="website">Website:</label>
        <input type="text" id="website" name="website" required><br>
        <label for="master_password">Master Password:</label>
        <input type="password" id="master_password" name="master_password" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <input type="submit" value="Save Password">
    </form>

    <h2>View Stored Passwords</h2>
    <form method="post" action="/get_passwords">
        <label for="master_password_view">Master Password:</label>
        <input type="password" id="master_password_view" name="master_password" required><br>
        <input type="submit" value="View Passwords">
    </form>
</body>
</html>
